<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>hitori</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
  </head>
  
  <body>
    <section class="main-header">
      <a class="firebird" href="<%= root_path %>"><img src="<%= asset_path "WBTNFB.png" %>"></a>
      <a class="enter" href="<%= tweets_path %>">すべておもいだす</a>
      <img src="<%= asset_path "hitori.png" %>">
    </section>
    <section class="about">
      <h2>ここは、<br>あなたのひとりごとを<br>記憶する場所<br>ただ<br>それだけなんです。</h2>
    </section>
  </body>
</html>